@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}


.hero {
    background-color: #000;
    background-image: url('./image/bg.png');
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-clip: padding-box; */
    background-size: 60%;
    width: 100%;
}

span {
    color: #f9004d;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}


nav ul {
    list-style-type: none;
}


nav ul li {
    display: inline;
    padding: 10px;
}


nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

nav ul li a:hover {
    color: #f9004d;
    transition: .4s;
}


.logo {
    color: #ffffff;
    letter-spacing: 1px;
    cursor: pointer;
}


.btn, .mails {
    background-color: #f9004d;
    color: #ffffff;
    text-decoration: none;
    transition: transform .4s;
}

 .btn:hover {
    transform: scale(1.2);
}


.mails:hover {
    transform: scale(1.2);
}


.about {
    background-color: #191919;
}


button {
    background-color: #f9004d;
    color: #ffffff;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    padding: 13px 30px;
    transition: .4s;
}


button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}


@media screen and (max-width:480px) {
  
    .hero {
        width: 680px;
        background-image: url('./image/bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    header {
        padding-top: 20px;
    }

    .logo {
        width: 30%;
        margin-left: 20px;
        font-size: 20px;
    }

    .btn {
        margin-right: 30px;
        border-radius: 30px;
        padding: 8px 3.5px;
    }

    nav {
        width: 100%;
    }

    nav ul li a {
        font-size: 15px;
    }



    .main-cont {
        margin: 8rem auto 5rem;
        width: 80%;
    }
    
    h1 {
        color: #ffffff;
        margin: 20px 0 20px;
        font-size: 50px;
    }
    
    h3 {
        color: #ffffff;
        font-size: 25px;
        margin-bottom: 50px;
    }
    
    h4 {
        color: #fcfc;
        letter-spacing: 2px;
        font-size: 20px;
    }


    .mail form {
        width: 300px;
        max-width: 100%;
        position: relative;
        margin-left: 10%;
        padding-bottom: 20%;
    }
    
    .mail form input:first-child{
        display: inline-block;
        width: 100%;
        padding: 14px 130px 14px 15px;
        border: 2px solid #f9004d;
        border-radius: 30px;
        outline: none;
    }
    
    .mail form .mails {
        display: inline-block;
        outline: none;
        position: absolute;
        border: none;
        color: #ffffff;
        padding: 10px 30px;
        border-radius: 30px;
        background-color: #f9004d;
        box-shadow: 0 0 5px #000, 0 0 15px #858585;
        top: 6px;
        right: 6px;
    }
    

    .about {
        width: 680px;
        padding: 100px 0;
    }

    .image {
        width: 80%;
        margin: 0 auto;
    }

    .image img{
        width: 520px;
    } 


    .about .writin {
        padding: 30px 0;
    }


    .about h2 {
        color: #ffffff;
        font-size: 50px;
        text-transform: capitalize;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .about h5 {
        color: #ffffff;
        font-size: 22px;
        letter-spacing: 2px;
        text-transform: capitalize;
        margin-bottom: 25px;
        text-align: center;
    }
    
    
    .about p {
        color: #fcfc;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 45px;
        padding: 10px;
        text-align: center;
    }


    button {
        width: 80%;
        margin-left: 55px;
    }



    .service {
        background: #101010;
        width: 680px;
        padding: 100px 0px;
    }
    
    .title h2 {
        color: #ffffff;
        font-size: 50px;
        text-align: center;
    }
    
    
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 400px;
    }
    
    .first {
        height: 365px;
        width: 450px;
        padding: 20px 35px;
        background: #191919;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    
    .icon {
        margin: 25px 0;   
    }
    
    h5 {
        color: #ffffff;
        font-size: 23px;
        margin-bottom: 15px;
    }
    
    
    .pra p {
        color: #fcfc;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 25px;
    }
    
    
    .first .btn {
        border: 2px solid transparent;
        transition: .4s;
        font-weight: bold;
        padding: 9px 22px;
    }
    
    
    .first .btn:hover {
        background-color: transparent;
        border: 2px solid #f9004d;
    }


    .contact-me {
        width: 680px;
        height: 290px;
        background-color: #191919;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    .contact-me p {
        color: #ffffff;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    
    
    .contact-me .btn {
        border: 2px solid transparent;
        transition: .4s;
        font-weight: bold;
        padding: 9px 22px;
    }


    .btn:hover {
        background-color: transparent;
        border: 2px solid #f9004d;
    }
    
    
    footer {
        position: relative;
        width: 680px;
        height: 400px;
        background-color: #101010;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    footer p:nth-child(1) {
        font-size: 30px;
        color: #ffffff;
        margin-bottom: 20px;
        font-weight: bold;
    }
    
    
    footer p:nth-child(2) {
        font-size: 17px;
        color: #ffffff;
        width: 500px;
        text-align: center;
        line-height: 26px;
        font-weight: bold;
    }
    
    .social-icon {
        display: flex;
    }
    
    
    .social-icon a {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f9004d;
        border-radius: 50%;
        margin: 22px 10px;
        text-decoration: none;
    }
    
    
    .social-icon a:hover {
        transform: scale(1.3);
        transition: .3s;
    }
    
    
    .end {
        position: absolute;
        color: #f9004d;
        bottom: 35px;
        font-size: 14px;
    }
    
   
}


@media screen and (min-width: 900px) {
    



header {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    width: 90%;
    margin: 0 auto;
    padding: 3rem 0 ;
}


.logo {
    font-size: 35px;
    letter-spacing: 1px;
}



nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}




.btn {
    border-radius: 30px;
    padding: 10px 25px;
}


.main-cont {
    margin: 10rem auto 3rem;
    width: 80%;
}

h1 {
    color: #ffffff;
    margin: 20px 0 20px;
    font-size: 75px;
}

h3 {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}


.mail form {
    width: 300px;
    max-width: 100%;
    position: relative;
    margin-left: 10%;
    padding-bottom: 20%;
}

.mail form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    border-radius: 30px;
    outline: none;
}

.mail form .mails {
    display: inline-block;
    outline: none;
    position: absolute;
    border: none;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    box-shadow: 0 0 5px #000, 0 0 15px #858585;
    top: 6px;
    right: 6px;
}


.about {
    width: 100%;
    padding: 100px 0;
}

.flex-cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
}

.about img {
    width: 430px;
    height: auto;
}

.about .writin {
    width: 550px;
}


.about h2 {
    color: #ffffff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about h5 {
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 25px;
}


.about p {
    color: #fcfc;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
}





.service {
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: #ffffff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.first {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.icon {
    margin: 25px 0;   
}

h5 {
    color: #ffffff;
    font-size: 23px;
    margin-bottom: 15px;
}


.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}


.first .btn {
    border: 2px solid transparent;
    transition: .4s;
    font-weight: bold;
    padding: 9px 22px;
}


.first .btn:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
}


.contact-me {
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contact-me p {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}


.contact-me .btn {
    border: 2px solid transparent;
    transition: .4s;
    font-weight: bold;
    padding: 9px 22px;
}


.btn:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
}


footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


footer p:nth-child(1) {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
}


footer p:nth-child(2) {
    font-size: 17px;
    color: #ffffff;
    width: 500px;
    text-align: center;
    line-height: 26px;
    font-weight: bold;
}

.social-icon {
    display: flex;
}


.social-icon a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
}


.social-icon a:hover {
    transform: scale(1.3);
    transition: .3s;
}


.end {
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}
}
